[Unit]
Description=Superscaler for autoscaling supervisor worker
After=network.target supervisord.service supervisor.service

[Service]
Type=simple
ExecStart=/usr/bin/superscaler /etc/superscaler/superscaler.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target